<a href="https://colab.research.google.com/github/Pranjal-sharma-SDE/Assignment-9/blob/main/Assignment_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q-2

In [ ]:
multiply = lambda x, y: x * y

result = multiply(5, 3)
print(result)  # Output: 15

15

# Q-5

In [ ]:
def multiplier(n):
    return lambda x: x * n

multiply_by_2 = multiplier(2)
multiply_by_3 = multiplier(3)

print(multiply_by_2(5))  # Output: 10
print(multiply_by_3(5))  # Output: 15

10
15

# Q-6

In [ ]:
square=lambda x:x**2

square(9)

81

# Q-7

In [ ]:
List=[1,2,3,6,81]

maximum= lambda x:max(x)

maximum(List)
# print(maximum)  # Output: 81

81

# Q-8

In [ ]:
List=[1,2,3,6,81]

sorted=list(filter( lambda x:x%2==0,List))
sorted

[2, 6]

# Q-9

In [1]:

string= ['apple', 'banana', 'cherry', 'date', 'elderberry']

sorted_x=sorted(string,key= lambda x:len(x))
sorted_x

# Q-10

In [5]:
list1=[1,2,3,4,5]
list2=[1,2,6,7,8,9,4,5]

intersection= lambda l1,l2: list(filter(lambda x: x in l1,l2))
result= intersection(list1,list2)

print(result)

[1, 2, 4, 5]

# Q-11

In [10]:
def fac(x):
  if(x>0):
    if x in [0,1]:
      return 1
    else:
      return fac(x-1)*x
  else:
    return 0

fac(3)

6

# Q-12

In [17]:
def fab(x):
  if(x>0):
    if x in [0,1]:
      return x
    else:
      return fab(x-1)+fab(x-2)
  else:
    return 0

fab(5)

5

# Q-13

In [19]:
def sum(x):
  if len(x)==0:
    return 0
  else:
    return x[0]+ sum(x[1:])

sum(list1)

15

# Q-14

In [1]:
def is_palindrome(string):
    if len(string) <= 1:
        return True
    elif string[0] != string[-1]:
        return False
    else:
        return is_palindrome(string[1:-1])

# Example usage:
word = "level"
result = is_palindrome(word)
print(result)

True

# Q- 15

In [3]:
def gcd(a,b):
  if b==0:
    return a
  else:
    return gcd(b,a%b)

gcd(12,18)

6